body {
    background-color: antiquewhite;
    font-family: Annie Use Your Telescope;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Orbitron;
}

img{
    height: 150px;
}

article {
    border: 1px solid darkgrey;
    border-radius: 0.5em;
    background-color: lightgrey;
    margin-bottom: 1em;
    padding: 0.5em;
}