
/* Styling based on the HTML tag name */

body {
    background-color: antiquewhite;

    /* Web safe fonts - these are common fonts already installed on many Operating Systems. 
       Need to provide a list of fallbacks in case the font is not on the users computer. */
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    /* Orbitron is a web font downloaded by the browser from Google fonts (See link in HTML file). */
    font-family: Orbitron;
}


img {
    /* Do one dimension for sizing images not both, so the browser can maintain the correct aspect ratio. */
    height: 150px;
}

article {
    border: 2px solid darkgrey;
    border-radius: 0.5em;
    background-color: lightgrey;
    margin-bottom: 1em;
    padding: 1em;
}