* {
    margin: 0;
    padding: 0;
}

.label {
    width: 35px;
    height: 8px;
    border-radius: 3px;
    display: inline-block;
}

.general {
    background-color: orange;
}

.pathway {
    background-color: red;
}

.individual {
    background-color: green;
}

.pair {
    background-color: blueviolet;
}

.card {
    display: inline-block;
    width: 200px;
    margin: 0 2rem 2rem 0;
    border: 1px solid gray;
    padding: 0.5rem;
}

