body{
    background-color: rgb(0, 76, 84);
    color: rgb(165,172,175);
}

h1{
    text-align: center;
}

h2 {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #A5ACAF;
    max-width: 400px;
}

img{
    height: 100px;

}

table {
    color: whitesmoke;
}

th {
    text-decoration: underline;
}

td {
    text-align: center;
}

blockquote{
    font-style: italic;
}

p{
    color: whitesmoke;
}

li {
    color: whitesmoke;
}
a{
    color: whitesmoke;
}