/* 
    Universal selector - * - used to select all elements
    This style rule removes the default margin and padding from all HTML elements
*/
* {
    margin: 0;
    padding: 0;
}

/* HTML element selector */
/* h1 {
    text-transform: uppercase;
    color: blue;
} */

body {
    background-color: darkgrey;
    font-family: Raleway, sans-serif;
    font-size: 14px;
}

header {
    color: lightgrey;
    padding: 1rem;
}

/*
    ID selector - IDs must be unique on the page so this selects one element.
*/
#trello-board {
    padding: 0 1rem;
    
}

/* 
    Class selector - label - used to select all elements that have the `label` style class applied
*/
.label {
    display: inline-block;
    width: 35px;
    height: 8px;
    border-radius: 3px;
}

/*
 Can chain multiple classes to indicate they must all be applied to that element for the style rule to take effect.
 This rule applies to elements that have BOTH the label and general style classes applied
*/
.label.general {
    background-color: orange;
}

.pathway {
    background-color: red;
}

.individual {
    background-color: green;
}

.pair {
    background-color: teal;
}

.trello-list .card {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: whitesmoke;
}

.trello-list {
    display: inline-block;
    width: 300px;
    background-color: lightgrey;
    vertical-align: top;
    margin-right: 1rem;
    border-radius: 3px;
    padding-bottom: 0.5rem;
}

.trello-list h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.trello-list a {
    padding: 0.5rem;
    color: darkgrey;
    display: block;
}

.trello-list a:hover {
    background-color: lightslategrey;
}


/* This applies to any of the selectors in the comma separated list */
/* h1, h2 {
    margin-bottom: 1rem;
    text-decoration: underline;
}
*/

/* Descendant selector - */
/* header a {
    text-decoration: none;
    color: black;
} */

header * {
    display: inline-block;
    font-size: 1.5rem;
}

header li, header h1 {
    border-right: 1px solid lightgrey;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
}

header li a {
    color: lightgrey;
    text-decoration: none;
}


/* Parent/Child selector */
/* ul > li {
    border-bottom: 1px dashed limegreen;
} */

/* Pseudo-class selectors - come after a colon
    When you hover over a link, set the background color to green for go... 
*/
/* a:hover {
    background-color: green;
}

.card:nth-child(even) {
    background-color: gold;
} */

/* 
DON'T Make new rules for the same selector you have elsewhere in the file!!!
h1 {
    color: blue;
} 
*/